*{
    font-family: 'Audiowide', cursive;
}

.container{
    margin:0;
    padding: 0;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    background-image: url("../../assets/bcimage.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    user-select: none;
}


.salutetext{
    color:white;
    font-size: 12vw;  
    cursor: default;
}


@media (max-width: 565px){
    .salutetext{
        font-size: 11vw;
    }
}



